//顏色變數
$bg-color: #f4f4f4;
$primary-color: #153450;
$secondary-color: #0e6273;
$text-color: #333333;
$text-white: #ffffff;
$highlight-color1: #4fa8c3;
$highlight-color2: #e14720;
$highlight-color3: #f4d35e;
$card-color: #cfdee0;
$activity-card-color: #f4f1f1;
$activity-line-color: #cbcaca;
$activity-comment-card: #f2f2e8;
$game-bg-color: #e3d5ca;
$game-line-color: #7baab0;
$page-number-color: #aaaaaa;

$input-line-color1: #333333;
$input-line-color2: #0e6273;

$backstage-bar-color: #cfdee0;
$backstage-bar-click-color: #f2f2e8;
$backstage-bar-line-color: #a59e9e;
$backstage-swipe-color: #f6f6f6;
