//顏色變數
$bg-color: #F4F4F4;
$primary-color: #153450;
$secondary-color: #0E6273;
$text-color: #333333;
$text-white: #FFFFFF;
$highlight-color1: #4FA8C3;
$highlight-color2: #E14720;
$highlight-color3: #F4D35E;
$card-color: #CFDEE0;
$activity-card-color: #F4F1F1;
$activity-line-color: #CBCACA;
$activity-comment-card: #F2F2E8;
$game-bg-color: #E3D5CA;
$game-line-color: #7BAAB0;
$page-number-color: #AAAAAA;

$input-line-color1: #333333;
$input-line-color2: #0E6273;

$backstage-bar-color: #7BAAB0;
$backstage-bar-click-color: #F2F2E8;
$backstage-bar-line-color: #A59E9E;
$backstage-swipe-color: #F6F6F6;